<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>
<body>
    <div id="wrapper">
        <div>
            <h3>Test App</h3>
            <a href="/">Home</a>
            <a href="/signin">Sign In</a>
        </div>
        
        <div>
            <h1>Welcome to the Test</h1>
            <p>We're going to build a cool application using a MVC framework!</p>
            <form action="/signin" method="GET">
                <input type="submit" value="Start">
            </form>
        </div>

        <div>
            <div>
                <h3>Manage Users</h3>
                <p>Using the application, you'll learn how to add, remove, and edit users for the application.</p>
            </div>
            <div>
                <h3>Leave messages</h3>
                <p>Users will be able to leave a message to another user using the application.</p>
            </div>
            <div>
                <h3>Edit User Information</h3>
                <p>Admins will be able to edit another user's information (email address, first name, last name, etc).</p>
            </div>
        </div>
    </div>
</body>
</html>